# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore gradle.properties if it has secrets
gradle.properties

# Ignore Gradle build output directory
build
release

# Ignore Visual studio project-specific cache directory
.vscode

# Sonar lint setup dir
.sonarlint
gradle.properties
